body {
  margin: 0;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* ######---- top Navigation Bar with image as background Image ----------##### */
.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-property: all;
  transition-duration: 1s;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: black;
  color: white;
  float: left;
  font-size: 20px;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .responsive.navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ###########################################
########---- Background Image----------############# */
.mainImg {
  
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sklname {
  font-size: 30px;
  height: 10vh;
  display: flex;
}

.sklname h1 {
  margin: auto;
}

/* ###############-->Background Image and top Nav-bar Completed<---#####
/* ********************************************************************************************** */
/* ######--->Started Main navigation bar with responsiveness<-----##### */
.m-row {
  display: flex;
  justify-content: space-around;
  position: sticky;
  background-color: black;
  top: 0;
  padding: 0 3%;
  margin-top: 10px;
}

.m-col {
  font-size: 20px;
  color: white;
  padding: 14px 0;
}

.m-col:hover {
  text-decoration: underline;
  text-decoration-color: grey;
}

.mainnav-icon {
  display: none;
}

.mainnav-home {
  display: none;
}

/* ########## responsive ####### */
@media screen and (max-width: 768px) {
  .mainnav .m-col {
    display: none;
  }

  .mainnav {
    justify-content: space-between;
  }

  .mainnav .mainnav-icon {
    display: block;
  }

  .mainnav .mainnav-home {
    display: block;
  }

  .navresponsive {
    display: block;
  }

  .navresponsive .m-col:not(:last-child):not(:first-child) {
    display: block;
    font-size: 15px;
    padding: 3px 30px;
  }

  .navresponsive .mainnav-icon {
    position: absolute;
    top: 0;
    right: 3%;
  }
}

/* ###### ---> end of main nav bar<-----#### */
/* #########################----------- responsive card style-----------########## */
.main-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1% 2%;
}

.main-card .main-card-sub {
  height: 400px;
  width: 350px;
  margin: 15px;
  flex: 1 1 350px;
  overflow: hidden;
}

.main-card-sub .main-card-image {
  width: 350px;
  height: 233px;
  overflow: hidden;
  margin: auto;
  box-shadow: 10px 10px 10px grey;
}

.main-card-image img {
  width: 100%;
}

.main-card-sub .main-card-content {
  overflow: hidden;
  height: 166px;
  width: 350px;
  margin: auto;
}

/* ###############----------------section introduction card--------------######### */
.sec-intro {
  padding: 0 3%;
  text-align: center;
  overflow: hidden;
}

/* ########### carousel ######## */
.campus {
  margin: 5% auto;
  overflow: hidden;
}

.slideshow-container {
  max-width: 80vw;
  max-height: 35vw;
  margin: auto;
  position: relative;
  z-index: -1;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.footer {
  color: white;
  width: 100%;
  background-color: black;
  text-align: center;
  padding-top: 7vh;
  margin: 0;
}

.footer .social-img {
  color: white;
  padding: 1vw 2vw;
}

.footer .social-img:hover {
  color: grey;
}

.footer p {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 10px;
}
